:root {
  --grid-major: rgb(135 150 170 / 13%);
  --grid-minor: rgb(135 150 170 / 5%);
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  min-width: 720px;
  min-height: 480px;
  overflow: hidden;
}
